.container{
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
  background-color: rgb(255, 255, 255);
  }

  .recipes_not_found{
    font-family: 'Nimbus Sans', sans-serif;
    font-size: 10px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    align-items: center;
    margin-top: 100px;
  }


@keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }